@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body { 
	font-family: 'IBM Plex Sans', sans-serif;
	background: #f1f1f1;

}
.month-container {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	width: 320px;
	color: #000;
	align-content: center;
	margin: 20px auto 40px auto;
	background-color: #fff;
	border-radius: 1.5em;
	padding: 20px;
	box-shadow: 0px 35px 100px -35px rgba(0,0,0,0.4);
}

.month-container div {
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	border-radius: 50%;
}
.month-container h3{
	font-size: 17px;
	text-transform: uppercase;
	font-weight: bold;
}
.month-title, .button-container {
grid-column: 1 / -1;
padding: 0 20px;

}
.button-container {
	justify-content: space-between!important;
	border-bottom: 1px solid #ddd;
border-radius: 0!important;
margin-bottom: 15px;
}

.button-container button {
min-width: 30px;
border: none;
font-size: 18px;
background-color: transparent;

}
.events-container {
	display: grid;
	grid-template-columns: 1fr;
}

.events-item {
	display: grid;
	grid-template-columns: 1fr 10fr;
	max-width: 315px;
	padding: 0 10px;
	margin: 0 auto 10px auto;


}
.events-item div:first-child {
	text-align: center;
	font-size: 20px;
	margin-right: 10px;
	font-weight: bold;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 align-items: center;
 border: 8px solid transparent;
}
.events-item div {
	display: flex;
	justify-content: center;
	
	flex-direction: column;
}
.events-item h3 {
	font-weight: 500;
	font-size: 14px;
}
.events-item p {
	color: #777;
	font-size: 14px;
}
.mark {
	background-color: #d6d6d687;
	border: 3px solid #fff;
}
.work div:first-child {
	background: #ccb5da!important;
	color: #fff;

}

.friends div:first-child {
	background: #b4d084;
	color: #fff;

}

.personal div:first-child {
 color: #fff;
 background: #ff7e9c;
	
}
.family div:first-child {
 color: #fff;
 background: #ffbe5d!important;
}
.today {
	border: 1px solid #333;
}
textarea {
	background: transparent;
	border: none;
	font-family: 'IBM Plex Sans', sans-serif;
	color: #777;
	font-size: 14px;
	resize: none;
}

form {
	display: flex;
	flex-direction: column;
	max-width: 320px;
	margin: 20px auto;
}