@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body { 
	font-family: 'IBM Plex Sans', sans-serif;
	background: #f1f1f1;

}
.month-container {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	width: 320px;
	color: #000;
	align-content: center;
	margin: 20px auto 40px auto;
	background-color: #fff;
	border-radius: 1.5em;
	padding: 20px;
	box-shadow: 0px 35px 100px -35px rgba(0,0,0,0.4);
}

.month-container div {
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	border-radius: 50%;
}
.month-container h3{
	font-size: 17px;
	text-transform: uppercase;
	font-weight: bold;
}
.month-title, .button-container {
grid-column: 1 / -1;
padding: 0 20px;

}
.button-container {
	justify-content: space-between!important;
	border-bottom: 1px solid #ddd;
border-radius: 0!important;
margin-bottom: 15px;
}

.button-container button {
min-width: 30px;
border: none;
font-size: 18px;
background-color: transparent;

}
.events-container {
	display: grid;
	grid-template-columns: 1fr;
}

.events-item {
	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
	max-width: 315px;
	padding: 0 10px;
	margin: 0 auto 10px auto;


}
.events-item div:first-child {
	align-items: flex-end;
	border: 4px solid transparent;
	font-size: 15px;
	font-weight: 700;
	height: 30px;
	margin-right: 10px;
	width: 30px;
	padding-right: 5px;
}
.events-item div {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.events-item h3 {
	font-weight: 500;
	font-size: 13px;
}
.events-item p {
	color: #777;
	font-size: 14px;
}
.mark {
	background-color: #d6d6d687;
	border: 3px solid #fff;
}
.work div:first-child {
	border-right-color: #ccb5da!important;
}

.friends div:first-child {
	border-right-color: #b4d084;

}

.personal div:first-child {
	border-right-color: #ff7e9c;
	
}
.family div:first-child {
	border-right-color: #ffbe5d!important;
}
.today {
	border: 1px solid #333;
}
textarea {
	border: 1px solid #eee;
	font-family: 'IBM Plex Sans', sans-serif;
	color: #777;
	resize: none;
	padding: 5px 10px;
	margin-bottom: 10px;
}
.note {
	font-family: 'IBM Plex Sans', sans-serif;
	color: #777;
	font-size: 12px;
}

.delete {
	color: #fff;
	cursor: pointer;
}
.delete span {
	border: 1px solid #999;
	border-radius: 3px;
	background-color: #bbb;
	text-align: center;
	width: 15px;
	height: 15px;
	font-size: 10px;
	opacity: 0;
}
.events-item:hover .delete span {
	opacity: 1;
}
form {
	display: flex;
	flex-direction: column;
	max-width: 320px;
	margin: 20px auto;
}

input {
	border: 1px solid #eee;
	height: 40px;
	margin-bottom: 6px;
	padding: 5px 10px;
	display: block;
	border-radius: 5px;
}
select {
	border: 1px solid #eee;
	height: 30px;
	padding: 5px;
background: #fff;
border-radius: 5px;
margin-bottom: 6px;
}

.date-container {
	display: flex;
	justify-content: space-between;
}

.date-container select {
	width: 33%;
}

button {
	border: 1px solid #eee;
	height: 50px;
	background-color: #bbb;
	border-radius:5px;
}

.close-text {}

.open-text, .close-text {
	text-align: center;
	text-decoration: underline;
	margin-bottom: -10px;
	margin-top: 20px;
	color: #555;
	cursor: pointer;
}